@CHARSET "EUC-KR";
form insertMember{  }

fieldset { 
		   width:100%; 
		   box-sizing:border-box; 
		   position:relative; 
		 }
.toptitle {
		width:100%; 
		font-size:20px; 
		font-weight:bold; 
		box-sizing:border-box; 
		color:#4d5b75; 
		padding:10px; 
		text-align:center; 
		border-bottom:5px solid #4d5b75; 
		letter-spacing:20px; 
	}
	
div {
		  width:100%; 
		  padding:3px 0; 
		  box-sizing:border-box; 
		  border-bottom:1px solid rgba(0,0,0,0.3);
	 }
.firstbox { margin-top:1px;}
.lastbox {
		padding:15px;
		border-bottom:none; 
		bottom-padding:100px; 
	}
strong { 
		width:16vw; 
		height:25px; 
		line-height:28px; 
		text-align:center; 
		float:left; 
	}
input[type="text"] { 
		min-width:150px; 
		max-width:500px; 
		height:24px; 
	}
input[type="password"] { 
		min-width:150px; 
		max-width:300px; 
		height:24px; 
	}
input[type="button"] { 
		margin-left:10px; 
		height:24px; 
	}
input[id="signUP"] { 
		position:absolute; 
		bottom:8px; 
		left:50%; 
		transform:translateX(-50%); 
		height:28px; 
	}

.select_css { 
		min-width:174px; 
		max-width:300px; 
		height:30px; 
	}
.button, .ui-datepicker-trigger, .update_btn, .reset_btn {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: rgb(29,79,137);
	border: none;
	color:#fff;
	padding: 6px 8px 6px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px;
	cursor: pointer;
}	
/*.preview { width:250px; height:250px; background-color:rgba(0,0,0,0.6); }*/

